body {
    background-image: url('img/pup.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Do not repeat the background image */
}


body::before {
    content: ""; /* Create a pseudo-element */
    position: absolute; /* Position absolutely */
    top: 135px;
    left: 0;
    width: 100%; /* Cover the entire width */
    height: 100%; /* Cover the entire height */
    background-color: 	rgba(142, 76, 69, 0.804); /* Set the color and opacity of the layer */
}


.submit-form {
    position: absolute; /* Position absolutely */
    top: 50%; /* Adjust as needed */
    transform: translateY(-50%); /* Center the form vertically */
    color:aliceblue;
    cursor: pointer;
}

.submit-form > .form-group > label {
    font-weight: bold; /* Make the label "Completion Form" bold */
    font-size: 50px;
    margin-bottom: 20px;
}

/* Apply italic style to the form check labels for options */
.submit-form .form-check-label:not(.form-check-label[for="request-type"]) {
    font-style: italic; /* Make the options italic */
    font-size: larger;
    margin-bottom: 10px;
    color: rgba(240, 248, 255, 0.653);
}

.submit-request-button {
    /* Add your custom styles here */
    width: 80%;
    background-color: #740e0e !important; 
    border-color: #660c0c !important;
    color: #fff; /* White text color */
    padding: 15px 20px !important; /* Add padding */
    border-radius: 30px !important; /* Add border radius */
    font-size: 25px !important; /* Adjust font size */
    font-weight: bold !important;
    cursor: pointer; /* Add pointer cursor on hover */
    transition: background-color 0.3s ease; /* Add transition effect */
    margin-top: 35px;
}

.submit-request-button:hover {
    background-color: #660c0c; /* Darker blue background color on hover */
}
