/* navbar.css */

@font-face {
font-family: 'CustomFont';
src: url('fonts/FontsFree-Net-SFProText-Medium-1.ttf');
}

/* Define font stack */
.custom-font {
font-family: 'CustomFont', Arial, sans-serif; 
}

.nav_container {
    background-color: #822C2E; /* Set background color for the navigation bar */
    color: #fff; /* Set text color for the navigation links */
    padding: 10px; /* Add padding to the navigation bar */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    width: 70%;
    height: 67%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
}

.img_div {
    margin-right: 20px; /* Add space between the logo and navigation links */
    margin-left: 40px;
}

img {
    width: 100px; /* Set width of the logo */
    height: auto; /* Maintain aspect ratio */
}

.tab {
    display: inline-block; /* Display the navigation links horizontally */
    position: relative;
    text-align: center;
    padding: 7px;
    line-height: 30px;
    width: 25%;
}

.tab a {
    font-size: 20px;
    color: #fff; /* Set text color for the navigation links */
    text-decoration: none; /* Remove underline from the links */
}

.tab:not(.active) a:hover {
    background-color: #c79b15a4;
    border-radius: 40px;
    padding: 4%;
}

.tab.active {
    background-color: #c79b15a4; /* Change background color */
    border-radius: 40px;
}
