body {
    background-color: #8B0000; /* Dark red background */
    color: white; /* White text color */
}

#disclaimer {
    font-style: italic;
    font-size: larger;
}

.tab_type {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    width: max-content;
    font-size: 30px;
}

.tab_type:hover {
    color: #c79a15; /* Change text color to blue on hover */
    cursor: pointer;
}


.tab_type.selected {
    background-color: #c79b15a4;
    border-radius: 25px;
}

.radio-container {
    padding: 1%;
    background-color: #c79b15a4;
    border-radius: 40px;
    cursor: pointer;
}

.radio-container label {
    text-align: center;
    margin: 0;
}

.field-container{
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #c79b15a4 ;
    width: 20%;
    padding: 10px;
    text-align: left;
    border-radius: 50px;
}

.professor-input-row {
    width: 20%;

}

label {
    font-size: 25px;
    font-weight: bold; /* Specify the font weight */
    margin-bottom: 10px;
}

form input[type="text"],
form select {
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

div textarea{
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]{
    width:150px;
    font-size: 30px;
    background-color: #c79b15a4; 
    color: white; /* White text color */
    padding: 5px; /* Add padding */
    border: none; /* Remove border */
    border-radius: 15px; /* Add border radius */
    cursor: pointer; /* Add pointer cursor on hover */
}
