@font-face {
font-family: 'CustomFont';
src: url('fonts/FontsFree-Net-SFProText-Medium-1.ttf');
}

/* Define font stack */
.custom-font {
font-family: 'CustomFont', Arial, sans-serif;
}

body {
    background-color: #8B0000; /* Dark red background */
    color: white; /* White text color */
}

/* Apply SF Pro Display Bold font to labels */
h1 {
    font-weight: bold; /* Specify the font weight */
    text-align: left;
    background-color: #c79b15a4;
    width: 450px;
    font-size: 30px;
    padding: 10px;
    border-radius: 15px;
}

p:not(#disclaimer) {
    font-family: 'SF Pro Display', sans-serif; 
    font-size: 25px;
}

#disclaimer {
    font-style: italic;
    font-size: larger;
}


.row .label {
    color: #ffce3cd3; 
    text-decoration: dotted;
}

/* Add custom CSS rules here */
.container {
    margin-top: 30px;
    display: flex; /* Create a flex container */
    flex-direction: row; /* Arrange child elements in a row */
    justify-content: center;
}

.row {
    justify-content: center; /* Center the columns horizontally */
}

.col-md-6 {
    text-align: left; /* Align content in columns to the left */
}

/* Responsive styles */
@media (max-width: 768px) {
    h1, h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
}

input[type="submit"] {
    width:150px;
    font-size: 30px;
    margin-right: 5%;
    background-color: #c79b15a4; 
    color: white; /* White text color */
    padding: 5px; /* Add padding */
    border: none; /* Remove border */
    border-radius: 15px; /* Add border radius */
    cursor: pointer; /* Add pointer cursor on hover */
}

input[type="submit"]:hover {
background-color: #c79a15;
}