@font-face {
font-family: 'CustomFont';
src: url('fonts/FontsFree-Net-SFProText-Medium-1.ttf');
}

/* Define font stack */
.custom-font {
font-family: 'CustomFont', Arial, sans-serif; 
}

body {
    background-color: #8B0000; /* Dark red background */
    color: white; /* White text color */
    font-family: 'CustomFont';
}

.container {
    display: flex; /* Create a flex container */
    flex-direction: row; /* Arrange child elements in a row */
    margin-top: 35px; /* Add space between fields and navbar */
}

/* Apply SF Pro Display Bold font to labels */
form label {
    font-family: 'SF Pro Display', sans-serif; /* Specify the font family */
    font-weight: bold; /* Specify the font weight */
    font-size: 25px;
}

/* Apply border-radius to all input fields */
form input[type="text"],
form select {
    border-radius: 10px;
    padding: 10px;
    border: none;
}

#section {
    width: 80px;
}

.select2-container--default .select2-selection--single {
    height:40px;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

#select2-year_select-container {
    min-width: 100px; 
}

#select2-course_select-container {
    min-width: 300px; 
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
}

.select2-results__option {
    color: rgb(34, 34, 34);
}

input[type="submit"] {
    width: 150px;
    margin-right: 5%;
    font-size: 30px;
    background-color: #c79b15a4; 
    color: white; /* White text color */
    padding: 5px; /* Add padding */
    border: none; /* Remove border */
    border-radius: 15px; /* Add border radius */
    cursor: pointer; /* Add pointer cursor on hover */
}

.col-md-6 label {
    margin-bottom: 10px;
}

.col-md-6 label[for="studentnumber"] {
    white-space: nowrap; /* Prevent label from wrapping */
}
